/* Navbar Styles */
.custom-navbar {
    background-image: url('house-photos/32-modern-house-interior (3).webp');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    position: relative;
}

.custom-navbar .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-info {
    position: absolute;
    top: 10px;
    left: 30px;
    right: 200px;
    z-index: 1;
}

.contact-info span i {
    font-size: 20px;
}

.social-icon {
    color: inherit;
    font-size: 24px;
    text-decoration: none;
    position: relative;
}

.instagram {
    right: 240px;
}

.facebook {
    right: 210px;
}

.google {
    right: 170px;
}

.navbar-inner {
    position: relative;
    z-index: 1;
}

.logo-img {
    border-radius: 40%;
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 5px;
    border-left: 2px solid #ddd;
    padding-left: 15px;
    color: white !important;
}

.navbar-nav .nav-item:first-child .nav-link {
    border-left: none;
    padding-left: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}